post_list.html

<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""> POST 1</a></h2>
            <p>В социальном плане Тема сексуальности всегда была «табу», особенно, когда относящиеся к ребенку.  В контексте сегодня эта ситуация меняется мир дает людям возможность встретиться и лучше заниматься своей собственной сексуальности. Однако в пространстве школы, но есть много проблем для детской сексуальности воспринимается и лечить с naturalness и уважением поэтому по-прежнему сохраняется образ что-то запрещено и неловко (Мартини, 2009).</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">РЕЗЮМЕ</a></h2>
            <p>4 аналитическая психология, основанная г. Карл Юнг (1875-1961) является крупным научным достижением, как на монументальных открытий в области бессознательного, а также его взгляды на патологическое, тем не менее, работу, которую мы были завещаны неубедительными, с некоторыми улучшениями со стороны студентов Юнг, здесь в Бразилии наибольшую степень аналитической психологии , внес некоторые изменения на теоретических методологических концепций, Кроме того, Карлос Байинтон (1933-настоящее время), сегодня с 83 лет, из Junguianas зачатия, символический психопатологии, который добавляет новые открытия, которые позволяют лучше артикуляция аналитических концепций, и следовательно, помогает научное сообщество думать о лучшей диагностики.</p>
        </div>
    </body>
</html>
